.error {
  color: yellow;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.bg{
  background: white;
  font-size: 12px;
  font-weight: bold;
}

h1{
  text-align: center;
  text-transform: uppercase;
}

.text{
  text-transform: uppercase;
}