.App {
  width: 90%;
  margin: auto;
}


body {
  background-color: #282c34;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

